main { 
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

#player { 
    position:relative;
    left:160px;

}

.newGame { 
    position: relative;
    left:200px;
    margin-bottom: 20px;
}

app-square { 
    border: 1px grey solid;
    height: 200px;
}



